@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Prosto+One&family=Raleway:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Prosto One', cursive;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 22px;
}

li a:hover {
    background-color: #111;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    height: 45px;
    background-color: black;
    padding: 10px;
}

.header h3 {
    color: white;
}

.zona {
    background-image: url('./assets/168069577-2f570d08-61d3-49d8-b7dd-c4b9192aaf68.jpg');
    background-size: cover;
    height: 743px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.zona h1 {
    font-weight: bold;
    font-size: 83px;
    margin-left: 10px;
}

.zona p {
    width: 63%;
    margin-left: 10px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
 }

 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .zona h1 {
        font-weight: bold;
        font-size: 35px;
        margin-left: 10px;
    }

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        justify-items: center;
        height: 45px;
        color: black;
        background-color: yellow;
        padding: 10px;
    }

    .zona {
        background-image: url('./assets/168069577-2f570d08-61d3-49d8-b7dd-c4b9192aaf68.jpg');
        background-size: cover;
        height: 743px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .zona h1 {
        font-weight: bold;
        font-size: 25px;
        margin-left: 10px;
    }

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        justify-items: center;
        height: 45px;
        color: black;
        background-color: lightgreen ;
        padding: 10px;
    }

    .zona {
        background-image: url('./assets/168069577-2f570d08-61d3-49d8-b7dd-c4b9192aaf68.jpg');
        background-size: cover;
        height: 743px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        justify-items: center;
        height: 45px;
        color: white;
        background-color: red;
        padding: 10px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        justify-items: center;
        height: 45px;
        color: white;
        background-color: black;
        padding: 10px;
    }
}